<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>HGraber</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="icon" type="image/svg+xml" href="/assets/logo.svg" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/main.css"
    />

    <style>
      div.app-container {
        margin-bottom: 20px;
      }

      .agent-status[status="ok"] {
        color: green;
      }

      .agent-status[status="error"] {
        color: red;
      }

      .agent-status[status="warning"] {
        color: yellow;
      }

      .agent-status[status="offline"] {
        color: gray;
      }

      .agent-status[status="unknown"] {
        color: purple;
      }
    </style>

    <script src="/js/pages/agents.js"></script>
  </head>

  <body id="app">
    <div class="app-header">
      <a href="/">Главная</a>
      <a href="/list.html">Список книг</a>
      <a href="/agents.html">Агенты</a>
      <a href="/settings.html">Настройки</a>
    </div>

    <div class="app-body">
      <div
        class="app-container"
        style="display: flex; flex-direction: column; row-gap: 10px"
      >
        <b>Экспорт</b>

        <div class="app-error-container" v-if="appState.exportError">
          {{appState.exportError}}
        </div>

        <select class="app" v-model="appState.exportAgentID">
          <option value="">Не выбран</option>
          <option
            v-for="agent in (appState.agents || []).filter(a=>a.can_export)"
            :value="agent.id"
          >
            {{agent.name}}
          </option>
        </select>
        <span
          >С <input class="app" type="datetime-local" v-model="appState.from"
        /></span>
        <span
          >По <input class="app" type="datetime-local" v-model="appState.to"
        /></span>
        <button class="app" @click="exportBooks()">Выгрузить</button>
      </div>

      <div class="app-container" v-if="appState.agentStatusError">
        <div class="app-error-container">{{appState.agentStatusError}}</div>
      </div>
      <template v-else>
        <div
          class="app-container"
          style="display: flex; flex-direction: column; row-gap: 10px"
          v-for="agent in (appState.agents || [])"
        >
          <h3
            class="agent-status"
            :status="(agent.status || {}).status || 'unknown'"
          >
            {{agent.name}}
          </h3>
          <span v-if="agent.status && agent.status.start_at"
            ><b>Запущен:</b> {{new
            Date(agent.status.start_at).toLocaleString()}}</span
          >
          <span><b>ID:</b> {{agent.id}}</span>
          <span><b>Адрес:</b> {{agent.addr}}</span>
          <span
            ><b>Может обрабатывать новые:</b> {{agent.can_parse?
            'Да':'Нет'}}</span
          >
          <span
            ><b>Может обрабатывать новые массово:</b> {{agent.can_parse_multi?
            'Да':'Нет'}}</span
          >
          <span
            ><b>Может экспортировать:</b> {{agent.can_export? 'Да':'Нет'}}</span
          >
          <span><b>Приоритет:</b> {{agent.priority}}</span>
          <span
            ><b>Создан:</b> {{new Date(agent.create_at).toLocaleString()}}</span
          >
          <button class="app" @click="deleteAgent(agent.id)">
            <b style="color: red">Удалить</b>
          </button>
        </div>
      </template>

      <div
        class="app-container"
        style="display: flex; flex-direction: column; row-gap: 10px"
      >
        <b>Создание агента</b>

        <div class="app-error-container" v-if="appState.agentError">
          {{appState.agentError}}
        </div>

        <label>
          <span>Название</span>
          <input
            class="app"
            v-model="appState.name"
            placeholder="Название"
            type="text"
            autocomplete="off"
          />
        </label>

        <label>
          <span>Адрес</span>
          <input
            class="app"
            v-model="appState.addr"
            placeholder="Адрес"
            type="url"
            autocomplete="off"
          />
        </label>

        <label>
          <span>Токен</span>
          <input
            class="app"
            v-model="appState.token"
            placeholder="Токен"
            type="password"
            autocomplete="off"
          />
        </label>

        <label>
          <span>Поддерживает парсинг</span>
          <input
            class="app"
            v-model="appState.canParse"
            placeholder="Поддерживает парсинг"
            type="checkbox"
            autocomplete="off"
          />
        </label>

        <label>
          <span>Поддерживает множественный парсинг</span>
          <input
            class="app"
            v-model="appState.canParseMulti"
            placeholder="Поддерживает множественный парсинг"
            type="checkbox"
            autocomplete="off"
          />
        </label>

        <label>
          <span>Поддерживает экспорт</span>
          <input
            class="app"
            v-model="appState.canExport"
            placeholder="Поддерживает экспорт"
            type="checkbox"
            autocomplete="off"
          />
        </label>

        <label>
          <span>Приоритет</span>
          <input
            class="app"
            v-model="appState.priority"
            placeholder="Приоритет"
            type="number"
            autocomplete="off"
          />
        </label>

        <button class="app" @click="create();">Создать</button>
      </div>
    </div>
  </body>
</html>
