<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>HGraber</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="icon" type="image/svg+xml" href="/assets/logo.svg" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/main.css"
    />
    <style>
      #index-info ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
      }

      div.app-container {
        margin-bottom: 20px;
      }

      div.app-container:last-child {
        margin-bottom: unset;
      }
    </style>

    <script src="/js/pages/index.js"></script>
  </head>

  <body id="app">
    <div class="app-header">
      <a href="/">Главная</a>
      <a href="/list.html">Список книг</a>
      <a href="/agents.html">Агенты</a>
      <a href="/settings.html">Настройки</a>
    </div>

    <div class="app-body">
      <div class="app-container" id="index-info">
        <div class="app-error-container" v-if="appState.stateError">
          {{appState.stateError}}
        </div>
        <ul v-else>
          <li>Всего <b>{{appState.state.count || 0}}</b> тайтлов</li>
          <li>
            Всего незагруженно
            <b>{{appState.state.not_load_count || 0}}</b> тайтлов
          </li>
          <li>Всего <b>{{appState.state.page_count || 0}}</b> страниц</li>
          <li>
            Всего незагруженно
            <b>{{appState.state.not_load_page_count || 0}}</b> страниц
          </li>
          <li>
            Всего без тела (файла)
            <b>{{appState.state.page_without_body_count || 0}}</b> страниц
          </li>
          <li>
            Объем страниц:
            <b>{{appState.state.pages_size_formatted || 0}}</b>
          </li>
        </ul>
      </div>

      <div class="app-container" id="info-workers">
        <div class="app-error-container" v-if="appState.stateError">
          {{appState.stateError}}
        </div>
        <table v-else>
          <thead>
            <tr>
              <td>Название</td>
              <td>В очереди</td>
              <td>В работе</td>
              <td>Раннеров</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="worker in ((appState.state.monitor||{}).workers || [])">
              <td>{{worker.name}}</td>
              <td>{{worker.in_queue}}</td>
              <td>{{worker.in_work}}</td>
              <td>{{worker.runners}}</td>
            </tr>
          </tbody>
          <tbody></tbody>
        </table>
      </div>

      <div class="app-container" style="display: flex">
        <div style="display: flex; flex-direction: column">
          <textarea
            class="app"
            rows="10"
            cols="50"
            v-model="appState.urlsRaw"
            placeholder="Загрузить новые книги"
          ></textarea>
          <button class="app" @click="loadBooks();">Загрузить</button>
        </div>
        <div style="display: flex; flex-direction: column; margin-left: 10px">
          <div class="app-error-container" v-if="appState.urlsError">
            {{appState.urlsError}}
          </div>
          <template v-else>
            <div><b>Всего: </b>{{appState.urlsResult.total_count || 0}}</div>
            <div>
              <b>Загружено: </b>{{appState.urlsResult.loaded_count || 0}}
            </div>
            <div>
              <b>Дубликаты: </b>{{appState.urlsResult.duplicate_count || 0}}
            </div>
            <div><b>Ошибки: </b>{{appState.urlsResult.error_count || 0}}</div>
          </template>
        </div>
      </div>
    </div>
  </body>
</html>
